# ========================================
# FOLDERS
# ========================================
node_modules
database
vendor

# ========================================
# FILES
# ========================================
.env
auth.json

# ========================================
# WordPress
# ========================================
app/core
app/plugins
app/uploads
app/logs

# Ignore all themes except `morph`
app/themes/*
!app/themes/morph
