@use "sass:map";
@use "sass:list";
@use "../tokens" as tokens;

@mixin media($min: null, $max: null) {
  $breakpoints: tokens.$breakpoints;
  $media-query: null;

  @if $min {
    @if not map.has-key($breakpoints, $min) {
      @error "media(): unknown min breakpoint `#{$min}`.";
    }

    $media-query: "(min-width: #{map.get($breakpoints, $min)})";
  }

  @if $max {
    @if not map.has-key($breakpoints, $max) {
      @error "media(): unknown max breakpoint `#{$max}`.";
    }

    $max-query: "(max-width: calc(#{map.get($breakpoints, $max)} - 0.001em))";

    // Join manually if both min and max
    @if $media-query {
      $media-query: "#{$media-query} and #{$max-query}";
    } @else {
      $media-query: $max-query;
    }
  }

  @if $media-query {
    @media #{$media-query} {
      @content;
    }
  } @else {
    @warn "media(): no valid breakpoints provided.";
  }
}
